@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --fw-light:400;
    --fw-heavy:700;
    --clr-orange:#FA8B1FFF;
    --clr-purple:#181828;
    --clr-gray:#99A9B5;
    --clr-text-on-white-background:#494a50;
    --clr-index-coaches:rgb(34, 36, 45);
}

body{
    font-family: 'Montserrat', sans-serif;
}

/*navbar start*/

nav{
    width: 100%;
    padding: 1.25rem 2rem;
    position: absolute;
    z-index: 60;
}

.nav-helper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
}

.website-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    user-select: none;
}

.website-logo img{
    width: 35px;
}

.website-logo p{
    font-size: 1.5rem;
    font-weight: var(--fw-heavy);
    color: var(--clr-orange);
}

nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 30px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: var(--fw-heavy);
    transition: all .3s;
}

nav ul li a:hover{
    color: var(--clr-orange);
}

.hamburger{
    cursor: pointer;
    display: none;
    z-index: 100;
}

.hamburger-line{
    display: block;
    width: 25px;
    height: 2px;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 5px;
}

/*index hero start*/

.index-hero{
    width: 100%;
    height: 70vh;
}

.index-hero-helper{
    width: 100%;
    height: 70vh;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
}

.index-hero img{
    width: 100%;
    height: 70vh;
    z-index: 10;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.index-h1-helper{
    position: relative;
    z-index: 30;
    max-width: 1440px;
    margin: 0 auto;
    top: 25vh;
    padding: 0 2rem;
}

.index-hero h1{
    color: var(--clr-orange);
    font-size: 6rem;
}

.index-hero h1 span{
    display: block;
}

/*page hero start*/

.page-hero{
    width: 100%;
    height: 70vh;
}

.page-hero-helper{
    width: 100%;
    height: 70vh;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
}

.page-hero img{
    width: 100%;
    height: 70vh;
    z-index: 10;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.page-hero-content{
    position: relative;
    z-index: 30;
    max-width: 1440px;
    margin: 0 auto;
    top: 25vh;
    padding: 0 2rem;
}

.page-hero h1{
    color: var(--clr-orange);
    font-size: 4rem;
    margin-bottom: 100px;
}

.page-hero h1 span{
    display: block;
}

.back-to-home{
    display: flex;
    align-items: center;
    gap: 10px;
}

.back-to-home a{
    text-decoration: none;
    color: white;
    font-size: 1.25rem;
    transition: all .3s;
}

.back-to-home a:hover{
    color: var(--clr-orange);
}

.back-to-home span{
    color: white;
    font-size: 1.25rem;
}

.back-to-home p{
    color: var(--clr-orange);
    font-size: 1.25rem;
}

.back-to-home p::after{
    content: "";
    width: 100%;
    height: 3px;
    background-color: var(--clr-orange);
    display: block;
    margin-top: 3px;
}

/*footer start*/
footer{
    width: 100%;
    background-color: var(--clr-purple);
    color: var(--clr-gray);
    padding: 3rem 5rem;
}

.footer-top{
    max-width: 1440px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    text-align: center;
    align-items: center;
}

.footer-col > p{
    font-size: 1.5rem;
    color: white;
    margin-bottom: 15px;
}

.footer-flex{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-bottom: 10px;
}

.footer-flex-icon{
    position: relative;
    top: 1.5px;
}

.footer-bottom{
    text-align: center;
    margin-top: 100px;
}

.footer-bottom > p{
    color: white;
    margin-bottom: 5px;
}

.footer-bottom > span{
    display: block;
    margin-bottom: 20px;
}

.website-creator p{
    color: white;
}

.website-creator p a{
    color: var(--clr-orange);
    text-decoration: none;
}

.website-creator p a:hover{
    text-decoration: underline;
}

/*index article start*/

.index-article{
    max-width: 1440px;
    padding: 10rem 2rem;
    margin: 0 auto;
}

.index-article h2{
    font-size: 5rem;
    line-height: 80px;
    margin-bottom: 30px;
    color: var(--clr-purple);
}

.index-article h2 span{
    color: var(--clr-orange);
}

.index-article p{
    font-size: 1.25rem;
    color: var(--clr-text-on-white-background);
    margin-bottom: 40px;
    line-height: 35px;
    position: relative;
    top: 75px;
    transition: all .3s;
}

.index-article p.is-visible{
    top: 0;
}

.index-article a{
    background-color: var(--clr-orange);
    color: white;
    text-decoration: none;
    padding: 1rem;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: var(--fw-heavy);
    transition: all .3s;
    border: 1px solid var(--clr-orange);
}

.index-article a:hover{
    color: var(--clr-orange);
    background-color: white;
}

/*index-coaches start*/

.index-coaches{
    background-color: var(--clr-index-coaches);
    padding: 5rem 2rem;
}

.index-coaches h3{
    text-align: center;
    font-size: 3.5rem;
    color: white;
    margin-bottom: 40px;
}

.index-coaches-grid{
    max-width: 1440px;
    margin: 0 auto 50px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 25px;
    padding: 3rem 2rem;
}

.index-coach-div{
    position: relative;
    top: 100px;
}

.index-coach-div.is-visible{
    top: 0;
}

#first-coach{
    transition: all .3s;
}

#second-coach{
    transition: all .6s;
}

#third-coach{
    transition: all .9s;
}

#fourth-coach{
    transition: all 1.2s;
}

.index-coach-div img{
    width: 100%;
    height: 350px;
    object-fit: cover;
    object-position: top;
}

.index-coach-content{
    text-align: center;
    margin-top: 25px;
}

.index-coach-content p{
    font-size: 2rem;
    color: white;
    font-weight: var(--fw-heavy);
    margin-bottom: 5px;
}

.index-coach-content span{
    color: var(--clr-gray);
}

.index-coaches-cta{
    text-align: center;
}

.index-coaches-cta a{
    background-color: var(--clr-orange);
    color: white;
    text-decoration: none;
    padding: 1rem;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: var(--fw-heavy);
    transition: all .3s;
    border: 1px solid var(--clr-orange);
}

.index-coaches-cta a:hover{
    background-color: white;
    color: var(--clr-orange);
}

/*schedule classes start*/

.schedule-classes{
    padding: 7rem 0;
}

.schedule-classes h2{
    font-size: 4rem;
    text-align: center;
    margin-bottom: 15px;
    color: var(--clr-purple);
}

.schedule-classes h2 span{
    color: var(--clr-orange);
}

.schedule-classes > p{
    text-align: center;
    font-size: 1.5rem;
    color: var(--clr-text-on-white-background);
    margin-bottom: 40px;
}

.schedule-classes-helper{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 2rem;
}

.class-heading{
    padding: 1rem 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(196, 196, 196);
    margin-bottom: 15px;
    cursor: pointer;
}

.class-heading p{
    font-size: 2rem;
    color: var(--clr-text-on-white-background);
}

.class-heading-icon{
    font-size: 2rem;
    color: var(--clr-text-on-white-background);
}

.hide-class{
    display: none;
}

.class-sessions{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}

.class-sessions ul{
    margin-bottom: 30px;
    position: relative;
    left: 30px;
}

.class-sessions ul li{
    line-height: 30px;
    font-size: 1.1rem;
    color: gray;
}

/*schedule sports start*/

.schedule-sports{
    padding: 5rem 0 10rem;
}

.schedule-sports-helper{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 2rem;
}

.sport-div{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    margin-bottom: 100px;
    gap: 100px;
}

.sport-div:last-child{
    margin-bottom: 0;
}

.sport-div-image img{
    width: 100%;
}

.sport-div p{
    font-size: 2.25rem;
    font-weight: bold;
    margin-bottom: 15px;
    color: var(--clr-purple);
}

.sport-div span{
    font-size: 1.1rem;
    color: var(--clr-text-on-white-background);
    line-height: 28px;
}

/*coaches start*/

.coach-div{
    width: 100%;
    padding: 5rem 2rem;
}

.coach-div-helper{
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 100px;
    justify-content: center;
}

.coach-div:last-child{
    margin-bottom: 0;
}

.coach-div-top{
    margin-bottom: 30px;
}

.coach-div-top img{
    width: 350px;
    height: 350px;
    object-fit: cover;
    object-position: top;
    margin-bottom: 30px;
}

.coach-div-top-content p{
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--clr-purple);
}

.coach-div-top-content span{
    color: var(--clr-text-on-white-background);
}

.coach-div-bottom p{
    font-size: 1.25rem;
    color: var(--clr-text-on-white-background);
    line-height: 30px;
    margin-bottom: 20px;
}

.coach-div-dark{
    background-color: var(--clr-index-coaches);
}

.coach-div-dark p{
    color: white;
}

.coach-div-dark span{
    color: rgb(187, 184, 184);
}

/*prices start*/

.prices{
    padding: 8rem 2rem;
}

.prices h2{
    text-align: center;
    font-size: 4rem;
    margin-bottom: 50px;
    color: var(--clr-purple);
}

.prices-helper{
    max-width: 1440px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 50px;
    text-align: center;
    margin-bottom: 100px;
}

.price-div{
    transition: all .5s ease-in-out;
    position: relative;
    top: 100px;
}

.price-div.is-visible{
    top: 0;
}

.price-div-top{
    width: 100%;
    height: 250px;
    background-color: var(--clr-purple);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
}

.price-div-top p{
    font-size: 2.5rem;
    text-transform: uppercase;
}

.price-div-bottom{
    border-bottom: 1px solid rgb(210, 210, 210);
    border-left: 1px solid rgb(210, 210, 210);
    border-right: 1px solid rgb(210, 210, 210);
}

.price-div-bottom p{
    width: 100%;
    height: 100px;
    font-size: 1.25rem;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    color: var(--clr-text-on-white-background);
    align-items: center;
    border-bottom: 1px solid rgb(210, 210, 210);
}

.price-div-bottom p:last-child{
    border-bottom: none;
}

.price-div-bottom p:nth-child(even) {
    background-color: #e9e9e9;
}

.price-div-center .price-div-top{
    background-color: var(--clr-orange);
    height: 200px;
}

.prices-cta{
    text-align: center;
}

.prices-cta a{
    background-color: var(--clr-orange);
    color: white;
    text-decoration: none;
    padding: 1rem;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: var(--fw-heavy);
    transition: all .3s;
    border: 1px solid var(--clr-orange);
}

.prices-cta a:hover{
    background-color: white;
    color: var(--clr-orange);
}

/*one on one start*/

.one-on-one{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 100%;
    align-items: center;
}

.one-on-one img{
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.one-on-one h2{
    text-align: center;
    font-size: 2rem;
    color: var(--clr-purple);
    margin-bottom: 20px;
}

.one-on-one h2 span{
    color: var(--clr-orange);
}

.one-on-one form{
    padding: 0 4rem;
}

.one-on-one input{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid rgb(216, 216, 216);
    outline: none;
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    margin-bottom: 10px;
    padding-left: 10px;
    transition: all .3s;
}

.one-on-one input:focus{
    border: 1px solid gray;
}

.form-helper{
    display: flex;
    align-items: center;
    gap: 10px;
}

.one-on-one input[type="submit"]{
    border: 1px solid var(--clr-orange);
    background-color: var(--clr-orange);
    color:white;
    text-transform: uppercase;
    font-weight: var(--fw-heavy);
    cursor: pointer;
    transition: all .3s;
}

.one-on-one input[type="submit"]:hover{
    background-color: white;
    color: var(--clr-orange);
}

#validationMessage{
    text-align: center;
    font-style: italic;
    color: var(--clr-gray);
}

/*responsive design start*/

@media (max-width:1200px) {

    /*index coaches responsive*/

    .index-coaches-grid{
        display: block;
        padding: 0 2rem;
    }

    .index-coach-div{
        margin-bottom: 60px;
        text-align: center;
        top: 50px;
    }

    .index-coach-div img{
        width: 350px;
        height: 500px;
        text-align: center;
        margin: 0 auto;
    }

    #first-coach,#second-coach,#third-coach,#fourth-coach{
        transition: all .3s;
    }

    /*prices page responsive*/
    .prices-helper{
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width:1000px) {

    /*footer responsive*/

    .footer-top{
        display: block;
    }

    .footer-col{
        margin-bottom: 40px;
    }

    .footer-col:last-child{
        margin-bottom: 0;
    }

    /*index article responsive*/
    .index-article{
        padding: 10vh 2rem 5rem;
        display: block;
    }


    .index-article-div:first-child{
        margin-bottom: 40px;
    }

    /*schedule classes responsive*/
    .class-sessions{
        grid-template-columns: repeat(2,1fr);
    }

    /*schedule sports responsive*/
    .schedule-sports{
        padding: 0 0 10rem;
    }

    /*coaches page responsive*/
    .coach-div-helper{
        display: block;
    }

    /*one on one responsive*/
    .one-on-one{
        display: flex;
        flex-direction: column;
    }

    .one-on-one-form{
        order: 1;
        padding: 4rem 0;
    }

    .one-on-one img{
        order: 2;
        height: 300px;
    }
}

@media (max-width:768px) {

    /*navbar responsive*/

    .hamburger{
        display: block;
    }

    .hamburger.active{
        position: fixed;
        right: 2rem;
    }

    .hamburger.active .hamburger-line{
        background-color: var(--clr-orange);
        transition: all .3s;
    }

    .hamburger.active .hamburger-line:first-child{
        transform: translateY(7px) rotate(45deg);
    }

    .hamburger.active .hamburger-line:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .hamburger-line:last-child{
        transform: translateY(-7px) rotate(-45deg);
    }

    nav ul{
        z-index: 90;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        display: block;
        text-align: center;
        background-color: black;
        padding-top: 25vh;
        left: -100%;
        transition: all .3s;
    }

    #navbar.active{
        left: 0;
    }

    nav ul li{
        margin: 30px 0;
    }

    nav ul li a{
        color: var(--clr-orange);
        font-size: 1.5rem;
    }

    /*index-hero responsive*/

    .index-hero h1{
        font-size: 3rem;
    }

    .index-hero img{
        object-position:left;
    }

    /*page-hero responsive*/
    .page-hero h1{
        font-size: 2.5rem;
        margin-bottom: 50px;
    }

    .page-hero img{
        object-position:left;
    }

    .back-to-home a,.back-to-home span,.back-to-home p{
        font-size: 1rem;
    }

    /*footer responsive*/

    footer{
        padding: 2rem 4rem;
    }

    .footer-col > p{
        font-size: 1.25rem;
        margin-bottom: 10px;
    }

    .footer-flex{
        display: block;
    }

    .footer-bottom{
        margin-top: 70px;
    }

    /*index-article responsive*/

    .index-article h2{
        font-size: 2.25rem;
        line-height: 38px;
        margin-bottom: 20px;
    }

    .index-article-div:first-child{
        margin-bottom: 20px;
    }

    .index-article p{
        font-size: 1rem;
        line-height: 30px;
        margin-bottom: 30px;
    }

    /*index coaches responsive*/

    .index-coaches h3{
        font-size: 2rem;
    }

    .index-coach-div{
        margin-bottom: 40px;
    }

    .index-coach-div img{
        width: 250px;
        height: 350px;
    }

    .index-coach-content{
        margin-top: 10px;
    }

    .index-coach-content p{
        font-size: 1.5rem;
    }

    .index-coach-content span{
        font-size: 1rem;
    }

    /*schedule classes responsive*/
    .schedule-classes{
        padding: 10vh 0;
    }

    .schedule-classes h2{
        font-size: 2.25rem;
        margin-bottom: 10px;
        line-height: 35px;
    }

    .schedule-classes > p{
        font-size: 1.25rem;
        margin-bottom: 25px;
    }

    .class-heading p{
        font-size: 1.5rem;
    }

    .class-heading-icon{
        font-size: 1.5rem;
    }

    .class-heading{
        padding: 0.75rem 0;
    }

    .class-sessions{
        display: block;
    }

    .class-sessions ul{
        margin-bottom: 15px;
    }

    .class-sessions ul li{
        font-size: 1rem;
        line-height: 27px;
    }

    /*schedule sports responsive*/

    .schedule-sports{
        padding: 0 0 10vh;
    }

    .sport-div{
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-bottom: 50px;
    }

    .sport-div-image{
        order: 1;
    }

    .sport-div-content{
        order: 2;
    }

    .sport-div p{
        font-size: 1.75rem;
        margin-bottom: 10px;
    }

    .sport-div span{
        font-size: 1rem;
        line-height: 25px;
    }

    /*coaches page responsive*/

    .coach-div{
        padding: 3.5rem 2rem;
    }

    .coach-div-top img{
        width: 250px;
        height: 350px;
        margin-bottom: 15px;
    }

    .coach-div-top-content p{
        font-size: 2rem;
    }

    .coach-div-top{
        margin-bottom: 20px;
    }

    .coach-div-bottom p{
        font-size: 1rem;
        line-height: 28px;
        margin-bottom: 15px;
    }
    
    /*prices page responsive*/

    .prices{
        padding: 10vh 2rem;
    }

    .prices h2{
        font-size: 2.25rem;
        margin-bottom: 30px;
    }

    .prices-helper{
        display: block;
        margin-bottom: 50px;
    }

    .price-div{
        margin-bottom: 50px;
        top: 50px;
    }

    .price-div-top{
        height: 135px;
    }

    .price-div-top p{
        font-size: 1.75rem;
    }

    .price-div-bottom p{
        font-size: 1.1rem;
        height: 75px;
    }

    /*one on one responsive*/

    .one-on-one-form{
        padding: 3rem 0;
    }

    .one-on-one form{
        padding: 0 2rem;
    }

    .one-on-one h2{
        font-size: 1.75rem;
        margin-bottom: 15px;
    }

}